body{
    background-color: #E5D0AC;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */

}

.header{
    background-color: #8E1616;
    width: 100%;
    height: 17vh;
    display: flex;
}

.logo{
    /* background-color: aqua; */
    width: 30%;
    display: flex;
    gap: 4%;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 3rem;
    color: white;
}

.header>nav{
    /* background-color: blue; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: white;
}

#logo{
    height: 150px;
    margin: 6%;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color del texto a blanco */
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */

}